body {
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-image: none;
    background-color: #02779E;
    font-size: 14px;
}

a, a:visited, a:hover {
    color: white;
}

.panel {
    width: 230px;
    border-radius: 8px;
    background-color: white;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.panel img {
    width: 210px;
    height: 210px;
    border-radius: 8px;
}

li.panel .panel-text {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 120px;
    overflow: hidden;
}

li.panel .panel-text a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
}

li.panel .panel-text a:hover {
    color: darkblue;
    text-decoration: underline;
}

